@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html, body {
  overflow-x: hidden;
  height: 100%;
}

body {
  background: url(/images/bg-intro-desktop.png);
  background-color: #FF7978;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

footer {
  display: block;
}

button {
  cursor: pointer;
}