.section-form {
  display: inline-block;
  vertical-align: middle;
  width: 900px;
}
.bold {
  font-weight: 600;
}

.btn-form {
  width: 800px;
  height: 60px;
  border-radius: 15px;
  background-color: #5D54A3;
  color: #fff;
}

.form {
  width: 800px;
  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
}

.input-form {
  border: 1px solid #B9B6D3;
  border-radius: 10px;
  height: 60px;
  width: 760px;
  margin-bottom: 8px;
}

.claim {
  color: #fff;
  background-color: #37CC8A;
  border-radius: 15px;
  width: 760px;
  height: 60px;
  text-transform: uppercase;
  font-weight: 700;
}

.some-text {
  color: #B9B6D3;
  text-align: center;
}

.terms {
  color: #FF7978;
}